$font-stack: Helvetica, sans-serif;
$basic-size: 1em;
$light-color: #eee;
$dark-color: #222;

body, body * {
  font-size: 20px;
  font-family: $font-stack;
  color: $dark-color;
  background-color: $light-color;
}

@media (max-width: 500px) {
  body, body * {
    font-size: 80px;
  }
}

@media (max-width: 1000px) {
  body, body * {
    font-size: 65px;
  }
}

br {
  display: none;
}

.promile-text {
  display: none;
}

.hidden {
  display: none;
}

canvas {
  border: 1px solid #d25c40;
}

textarea.text-source {
  width: 300px;
  height: 500px;
}

.main-content {

  width: $basic-size * 12;
  margin: 0 auto;
  overflow: hidden;

  .panel {

    padding: $basic-size/5 0;

    input, select {
      background-color: $dark-color;
      color: $light-color;
      border: 0;
      outline: none;
      padding: $basic-size /6 $basic-size /3;
      border-radius: 0;
      appearance: none;
    }

    input[type=number], select {
      width: 100%;
    }

    input[type="radio"] {
      background-color: $light-color;
      cursor: pointer;
      display: inline-block;
      height: $basic-size * 0.7;
      position: relative;
      width: $basic-size * 0.7;
      border: $basic-size * 0.05 solid $dark-color;
      padding: 0;
    }

    input[type="radio"]:after {
      background-color: $light-color;
      content: '';
      display: block;
      height: $basic-size * 0.4;
      left: $basic-size * 0.1;
      position: absolute;
      top: $basic-size * 0.1;
      width: $basic-size * 0.4;
    }

    input[type="radio"]:checked:after {
      background-color: $dark-color;
      position: absolute;
    }

    input[type=button] {
      font-size: $basic-size * 2 / 3;
      margin: $basic-size /5;
      padding: $basic-size;
      cursor: pointer;
    }

    .input-wrapper {
      margin: $basic-size /5 0;
    }

    label {
      font-size: $basic-size / 3 * 2;
      padding: $basic-size / 10 $basic-size / 2;
      display: block;
    }

    .switch-button {
      label {
        display: inline;
      }
    }

    .person-wrapper {

      .body-weight-wrapper {
        width: 50%;
        float: left;
      }

      .gender-wrapper {
        width: 50%;
        float: right;
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .weight-input, .gender-selector {
      display: inline-block;
    }

    .weight-input-wrapper, .switch-button-wrapper {
      width: 40%;
    }
  }

  .body-params {

    &.collapsed * {
      //background-color: $dark-color;
      //color: $light-color;
    }
  }

  .buttons {
    text-align: center;
  }

  .result {
    position: relative;
    .info {
      font-size: $basic-size * 2 / 3;
    }
    .promile-digit {
      font-size: $basic-size * 2;
      font-weight: bold;
    }
    .promile-sign {
      position: absolute;
      left: $basic-size * 6.0;
      top: $basic-size;
      word-break: break-all;
      width: $basic-size * 8;
      font-size: $basic-size * 8 / 9;

      &:after {
        content: "\2030\0020(промилле)";
      }
    }

    .min, .averade, .max {
      font-style: italic;
      .hours {
        font-style: normal;
        font-size: $basic-size * 1.1;
        font-weight: bold;
        display: inline-block;
      }
    }
    .min, .max {
      zoom: .7;
    }
  }
}